canvas{
  border: black solid 1px;
  background-color: rgb(11, 168, 11);
  /* background-image: url('http://api.thumbr.it/whitenoise-1920x1080.png?background=15ab1aff&noise=a67012&density=58&opacity=63') ; */
  background-image: url('https://4.bp.blogspot.com/-dhXmUZ9os3A/WOugo_Hq7jI/AAAAAAAAEBY/EJnkl5QUBwcOvN6xTWsslca5XTTFsTrVwCLcB/s1600/FoilageGrass_1.jpg');
}

body{
  margin: 0;
}